<a href="https://colab.research.google.com/github/KevinTudor/DataScienceAnalytics/blob/main/DataframesPandasLinearModels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


---

**Kevin Tudor**

**CAP 4773-001 Intro Data Science**

**Assignment 3**

**Due: 04/22/23**

---



Description:
To import and manipulate data using dataframes, and pandas then finding/comparing different linear and multiple linear models

Option 2:
Upload a Google colab or jupyter notebook file that you previously executed so that we can see the output (a .html file). In either case, your files must be named properly your_name_assignment#.py/pdf/html/etc.,

---

#Import libraries

In [ ]:
import numpy as np
import pandas as pd
from pandas import read_csv as csv
from sklearn.linear_model import LinearRegression

#Q1: Import
Import the NYC flights dataset using pandas name it "df"
Use the query function to filter all the rows with:

airtime greater than 120 minutes and

distance greater than 700 km

In [ ]:
df = pd.read_csv('nycflights.csv')
df = df[(df['air_time'] > 120) & (df['distance'] > 700)]
print(df)

       year  month  day  dep_time  dep_delay  arr_time  arr_delay carrier  \
0      2013      6   30       940       15.0      1216         -4      VX
1      2013      5    7      1657       -3.0      2104         10      DL
2      2013     12    8       859       -1.0      1238         11      DL
3      2013      5   14      1841       -4.0      2122        -34      DL
5      2013      1    1      1817       -3.0      2008          3      AA
...     ...    ...  ...       ...        ...       ...        ...     ...
32720  2013      4   17      1023       -7.0      1341        -24      VX
32722  2013      7    9       600        0.0       822         -8      AA
32726  2013      2    4      1558       -2.0      1854          4      DL
32731  2013      7    7       812       -3.0      1043          8      DL
32732  2013      9    3      1057       -1.0      1319        -19      UA

      tailnum  flight origin dest  air_time  distance  hour  minute
0      N626VA     407    JFK  LAX       313    2475.0     9      40
1      N3760C     329    JFK  SJU       216    1598.0    16      57
2      N712TW     422    JFK  LAX       376    2475.0     8      59
3      N914DL    2391    JFK  TPA       135    1005.0    18      41
5      N3AXAA     353    LGA  ORD       138     733.0    18      17
...       ...     ...    ...  ...       ...       ...   ...     ...
32720  N842VA     187    EWR  SFO       351    2565.0    10      23
32722  N3ERAA     707    LGA  DFW       178    1389.0     6       0
32726  N3737C    1331    JFK  DEN       238    1626.0    15      58
32731  N6713Y    1429    JFK  LAS       286    2248.0     8      12
32732  N77871    1545    EWR  IAH       180    1400.0    10      57

[17839 rows x 16 columns]

#Q2: Create a new dataframe
Create a new data frame by dep_time, dep_delay, arr_time, arr_delay, tail
num, and destination using filter() and name it "df1".

In [ ]:
df1 = df.filter((['dep_time','dep_delay','arr_time','arr_delay','tailnum','dest']))
print(df1)

       dep_time  dep_delay  arr_time  arr_delay tailnum dest
0           940       15.0      1216         -4  N626VA  LAX
1          1657       -3.0      2104         10  N3760C  SJU
2           859       -1.0      1238         11  N712TW  LAX
3          1841       -4.0      2122        -34  N914DL  TPA
5          1817       -3.0      2008          3  N3AXAA  ORD
...         ...        ...       ...        ...     ...  ...
32720      1023       -7.0      1341        -24  N842VA  SFO
32722       600        0.0       822         -8  N3ERAA  DFW
32726      1558       -2.0      1854          4  N3737C  DEN
32731       812       -3.0      1043          8  N6713Y  LAS
32732      1057       -1.0      1319        -19  N77871  IAH

[17839 rows x 6 columns]

#Q3: Add a new column
Add a new column “total_delay” to df1 using assign(). Total_delay can be
calculated by adding dep_delay and arr_delay

In [ ]:
df1 = df1.assign(total_delay = df1['dep_delay'] + df1['arr_delay'])
print(df1)

       dep_time  dep_delay  arr_time  arr_delay tailnum dest  total_delay
0           940       15.0      1216         -4  N626VA  LAX         11.0
1          1657       -3.0      2104         10  N3760C  SJU          7.0
2           859       -1.0      1238         11  N712TW  LAX         10.0
3          1841       -4.0      2122        -34  N914DL  TPA        -38.0
5          1817       -3.0      2008          3  N3AXAA  ORD          0.0
...         ...        ...       ...        ...     ...  ...          ...
32720      1023       -7.0      1341        -24  N842VA  SFO        -31.0
32722       600        0.0       822         -8  N3ERAA  DFW         -8.0
32726      1558       -2.0      1854          4  N3737C  DEN          2.0
32731       812       -3.0      1043          8  N6713Y  LAS          5.0
32732      1057       -1.0      1319        -19  N77871  IAH        -20.0

[17839 rows x 7 columns]

#Q4: Grouping
Group "df" according to “months” and find the average "air time" and "maximum
distance" traveled. Use groupby() and agg() functions.

In [ ]:
df = df.groupby(df['month']).agg({'air_time': 'mean', 'distance': 'mean'})
print(df)

         air_time     distance
month
1      209.901390  1425.902052
2      206.881762  1430.784389
3      212.108209  1502.868159
4      213.086844  1507.606610
5      213.178157  1596.897611
6      214.620516  1592.307747
7      212.554622  1612.210784
8      211.051525  1588.289492
9      213.038517  1619.680959
10     211.198107  1531.718729
11     216.650190  1513.448035
12     214.722749  1459.771919

#Q5 Import student-por using pandas.
How many features do we have in this
dataset?

In [ ]:
sp = pd.read_csv('student-por.csv')
print(sp, '\n\nThis dataset has', sp.shape[1], 'features.\n13 basic features and 3 grade features')

     age  Medu  Fedu  traveltime  studytime  failures  famrel  freetime  \
0     18     4     4           2          2         0       4         3
1     17     1     1           1          2         0       5         3
2     15     1     1           1          2         0       4         3
3     15     4     2           1          3         0       3         2
4     16     3     3           1          2         0       4         3
..   ...   ...   ...         ...        ...       ...     ...       ...
644   19     2     3           1          3         1       5         4
645   18     3     1           1          2         0       4         3
646   18     1     1           2          2         0       1         1
647   17     3     1           2          1         0       2         4
648   18     3     2           3          1         0       4         4

     goout  Dalc  Walc  health  absences  G1  G2  G3
0        4     1     1       3         4   0  11  11
1        3     1     1       3         2   9  11  11
2        2     2     3       3         6  12  13  12
3        2     1     1       5         0  14  14  14
4        2     1     2       5         0  11  13  13
..     ...   ...   ...     ...       ...  ..  ..  ..
644      2     1     2       5         4  10  11  10
645      4     1     1       1         4  15  15  16
646      1     1     1       5         6  11  12   9
647      5     3     4       2         6  10  10  10
648      1     3     4       5         4  10  11  11

[649 rows x 16 columns]

This dataset has 16 features.
13 basic features and 3 grade features

#Q6 Fit a simple linear regression model between:
1. Study time and G1
2. Study time and G2

Which pair gave the best performance?

In [ ]:
x, g1, g2 = sp[['studytime']], sp['G1'], sp['G2']

m1 = LinearRegression().fit(x, g1)
m2 = LinearRegression().fit(x, g2)

m1_res = m1.score(x, g1)
m2_res = m2.score(x, g2)

print('Linear regression Model 1 - "Study time and G1" result:', m1_res)
print('Linear regression Model 2 - "Study time and G2" result:', m2_res)
print('\nBoth models have a weak linear relationship')

if m1_res > m2_res:
  print('\nModel 1 - "Study time and G1" has a stronger fit by: ', m1_res-m2_res)
elif m2_res > m1_res:
  print('\nModel 2 - "Study time and G2" has a stronger fit by: ', m2_res-m1_res)
else:
  print('\nBoth models have a strong fit')

Linear regression Model 1 - "Study time and G1" result: 0.06805596405355119
Linear regression Model 2 - "Study time and G2" result: 0.05783928756147938

Both models have a weak linear relationship

Model 1 - "Study time and G1" has a stronger fit by:  0.010216676492071808

#Q7 Is there a linear relationship between
1. Absences and G1
2. Absences and G2

Find this by fitting a simple linear regression model.

In [ ]:
y = sp[['absences']]

m1 = LinearRegression().fit(y, g1)
m2 = LinearRegression().fit(y, g2)

m1_res = m1.score(y, g1)
m2_res = m2.score(y, g2)

print('Linear regression Model 1 - "Absences and G1" result:', m1_res)
print('Linear regression Model 2 - "Absences and G2" result:', m2_res)
print('\nBoth models have a weak linear relationship')

if m1_res > m2_res:
  print('\nModel 1 - "Absences and G1" has a stronger fit by: ', m1_res-m2_res)
elif m2_res > m1_res:
  print('\nModel 2 - "Absences and G2" has a stronger fit by: ', m2_res-m1_res)
else:
  print('\nBoth models have a strong fit')

Linear regression Model 1 - "Absences and G1" result: 0.021652899351715327
Linear regression Model 2 - "Absences and G2" result: 0.015561298426790882

Both models have a weak linear relationship

Model 1 - "Absences and G1" has a stronger fit by:  0.006091600924924445

# Q8 Fit a multiple linear regression model between
1. Total Grade “G3” and study time, absences.
2. G3 and all 13 features

Was there any change in performance when we added more features in part II of
Q8? Justify your answer.

In [ ]:
g3 = sp['G3']
x1 = sp[['studytime', 'absences']]
y1 = sp[['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel', 'freetime', 'goout', 'Dalc',\
         'Walc', 'health', 'absences']]

m1 = LinearRegression().fit(x1, g3)
m2 = LinearRegression().fit(y1, g3)

m1_res = m1.score(x1, g3)
m2_res = m2.score(y1, g3)

print('Multiple linear regression Model 1 - "G3 and study time, absences" result:', m1_res)
print('Multiple linear regression Model 2 - "G3 and all 13 features" result:', m2_res)
print('\nBoth models have a weak multiple linear relationship but \n\
Model 2 has better performance than Model 1 due to the extra features')

if m1_res > m2_res:
  print('\nModel 1 - "G3 and study time, absences" has a stronger fit by: ', m1_res-m2_res)
elif m2_res > m1_res:
  print('\nModel 2 - "G3 and all 13 features" has a stronger fit by: ', m2_res-m1_res)
else:
  print('\nBoth models have a strong fit')

Multiple linear regression Model 1 - "G3 and study time, absences" result: 0.06626876503146739
Multiple linear regression Model 2 - "G3 and all 13 features" result: 0.25551725076491816

Both models have a weak multiple linear relationship but
Model 2 has better performance than Model 1 due to the extra features

Model 2 - "G3 and all 13 features" has a stronger fit by:  0.18924848573345077