<a href="https://colab.research.google.com/github/KevinTudor/DataScienceAnalytics/blob/main/NumpyPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


---

**Kevin Tudor**

**CAP 4773-001 Intro Data Science**

**Assignment 2**

**Due: 02/24/23**

---



Description:
Learn to use python libraries such as numpy and pandas to preprocess and manipulate data on google collab.

Option 2:
Upload a google colab or jupyter notebook file that you previously executed
so that we can see the output (a .html file).

---

#Import libraries here

In [1]:
import numpy as np
import pandas as pd

#Q1:Read the  data.csv using numpy.
hint: use np.genfromtxt() function in numpy. You also need to define columns names

In [3]:
#read data using numpy
raw_data = np.genfromtxt("datasets/data.csv", dtype = 'float', names = True, delimiter=",", usecols = (0,1,2,3))
columns = ["Duration", "Pulse", "Maxpulse", "Calories"]

#Q2: Create a numpy array
Select pulse column from the dataset and name it "Pulse"

In [4]:
Pulse = np.array(raw_data["Pulse"])
print(Pulse)

[110. 117. 103. 109. 117. 102. 110. 104. 109.  98. 103. 100. 106. 104.
  98.  98. 100.  90. 103.  97. 108.  nan 130. 105. 102. 100.  92. 103.
 100. 102.  92.  90. 101.  93. 107. 114. 102. 100. 100. 104.  90.  nan
 100. 111. 111.  99. 109. 111. 108. 111. 107. 123. 106. 118. 136. 121.
 118. 115. 153. 123. 108. 110. 109. 118. 110.  90. 105. 107. 106. 108.
  97. 109. 100.  97. 114.  98. 105. 110. 100. 100. 159.  nan 103. 100.
 100. 151. 102. 100. 129.  83. 101. 107.  90.  80. 150. 151.  95. 152.
 109.  93.  95.  90.  90.  90.  92.  93.  90.  90.  90. 137. 102. 107.
 124. 100. 108. 108. 116.  97. 105. 103. 112.  nan 119. 107. 111.  98.
  97. 109.  99. 114. 104. 107. 103. 106. 103. 136. 117. 115. 113. 141.
 108.  97. 100. 122. 136. 106. 107. 112. 103. 110. 106. 109. 109. 150.
  nan 111.  97. 100. 114.  80.  85.  90.  95. 100. 105. 110. 115. 120.
 125.]

#Q3 Create a numpy array
Select Maxpulse column from the dataset and name it "MaxPulse"

In [5]:
MaxPulse = np.array(raw_data["Maxpulse"])
print(MaxPulse)

[130. 145. 135. 175. 148. 127. 136. 134. 133. 124. 147. 120. 128. 132.
 123. 120. 120. 112. 123. 125. 131. 119. 101. 132. 126. 120. 118. 132.
 132. 129. 115. 112. 124. 113. 136. 140. 127. 120. 120. 129. 112. 126.
 122. 138. 131. 119. 153. 136. 129. 139. 136. 146. 130. 151. 175. 146.
 121. 144. 172. 152. 160. 137. 135. 141. 130. 130. 135. 130. 136. 143.
 129. 153. 127.  nan 146. 125. 134. 141. 130. 131. 182. 169. 139. 130.
 120. 170. 136. 157.  nan 107. 127. 137. 107. 100. 171. 168. 128. 168.
 131. 124. 112. 110. 100. 100. 108. 128. 120. 120. 120. 184. 124. 124.
 139. 120. 131. 151. 141. 122. 125. 124. 137. 120. 169. 127. 151. 122.
 124. 127. 125. 151. 134. 138. 133. 132.  nan 156. 143. 137. 138. 162.
 135. 127. 120. 149. 170. 126. 136. 146. 127. 150. 134. 129. 138. 167.
 128. 151. 131. 120. 150. 120. 120. 130.  nan 140. 140. 145. 145. 150.
 150.]

#Q4 Add Pulse and MaxPulse using np.sum() and np.add()
What is the difference between summation and addition?
Declare a new variable and save the result of np.add()

In [6]:
"""
Summation adds by the given axis while addition adds by element.
"""

pulseSum = np.sum([Pulse,MaxPulse], axis =0)
pulseAdd = np.add(Pulse,MaxPulse)

print("Sum:", pulseSum, "\n\nAdd:", pulseAdd)

Sum: [240. 262. 238. 284. 265. 229. 246. 238. 242. 222. 250. 220. 234. 236.
 221. 218. 220. 202. 226. 222. 239.  nan 231. 237. 228. 220. 210. 235.
 232. 231. 207. 202. 225. 206. 243. 254. 229. 220. 220. 233. 202.  nan
 222. 249. 242. 218. 262. 247. 237. 250. 243. 269. 236. 269. 311. 267.
 239. 259. 325. 275. 268. 247. 244. 259. 240. 220. 240. 237. 242. 251.
 226. 262. 227.  nan 260. 223. 239. 251. 230. 231. 341.  nan 242. 230.
 220. 321. 238. 257.  nan 190. 228. 244. 197. 180. 321. 319. 223. 320.
 240. 217. 207. 200. 190. 190. 200. 221. 210. 210. 210. 321. 226. 231.
 263. 220. 239. 259. 257. 219. 230. 227. 249.  nan 288. 234. 262. 220.
 221. 236. 224. 265. 238. 245. 236. 238.  nan 292. 260. 252. 251. 303.
 243. 224. 220. 271. 306. 232. 243. 258. 230. 260. 240. 238. 247. 317.
  nan 262. 228. 220. 264. 200. 205. 220.  nan 240. 245. 255. 260. 270.
 275.]

Add: [240. 262. 238. 284. 265. 229. 246. 238. 242. 222. 250. 220. 234. 236.
 221. 218. 220. 202. 226. 222. 239.  nan 231. 237. 228. 220. 210. 235.
 232. 231. 207. 202. 225. 206. 243. 254. 229. 220. 220. 233. 202.  nan
 222. 249. 242. 218. 262. 247. 237. 250. 243. 269. 236. 269. 311. 267.
 239. 259. 325. 275. 268. 247. 244. 259. 240. 220. 240. 237. 242. 251.
 226. 262. 227.  nan 260. 223. 239. 251. 230. 231. 341.  nan 242. 230.
 220. 321. 238. 257.  nan 190. 228. 244. 197. 180. 321. 319. 223. 320.
 240. 217. 207. 200. 190. 190. 200. 221. 210. 210. 210. 321. 226. 231.
 263. 220. 239. 259. 257. 219. 230. 227. 249.  nan 288. 234. 262. 220.
 221. 236. 224. 265. 238. 245. 236. 238.  nan 292. 260. 252. 251. 303.
 243. 224. 220. 271. 306. 232. 243. 258. 230. 260. 240. 238. 247. 317.
  nan 262. 228. 220. 264. 200. 205. 220.  nan 240. 245. 255. 260. 270.
 275.]

#Q5 Find and print all the indexes
Where Pulse = 100

In [7]:
pulse_index = np.where(Pulse == 100)
print(pulse_index)

(array([ 11,  16,  25,  28,  37,  38,  42,  72,  78,  79,  83,  84,  87,
       113, 142, 157, 163], dtype=int64),)

#Q6 Filter rows
Where Pulse is greater than 130 and Calories are greater than 400

In [8]:
Calories = np.array(raw_data["Calories"])
filter_index = raw_data[((Pulse > 130) & (Calories > 400))]
print(filter_index)

[(210., 137., 184., 1860.4) ( 60., 136., 170.,  470.2)]

# Pandas exercise

#Q7 Create three Pandas series from numpyarray.
Create three numpy arrays by selecting column 2,3,4 from the dataset.

In [9]:
#create numpy arrays
s_c2 = pd.Series(Pulse)
s_c3 = pd.Series(MaxPulse)
s_c4 = pd.Series(Calories)

# Q8 Create a new dataframe
'df' from pandas series which were created in Q6.

In [10]:
#define column names and index
data_df = pd.DataFrame(data = filter_index)
data_df.index = np.arange(0, len(filter_index))
#print
print(data_df)

   Duration  Pulse  Maxpulse  Calories
0     210.0  137.0     184.0    1860.4
1      60.0  136.0     170.0     470.2

#Q9 Read nycflights.csv file using pandas.
Create a new dataframe by selecting dep_time, dep_delay, arr_time, arr_delay, tailnum and name it newyork_flight_new. Display with the first five entries

show the first five entries

In [12]:
#Create a new dataframe
newyork_flight_new = pd.read_csv('datasets/nycflights.csv', usecols = (3,4,5,6,8))

#show the first five entries
print(newyork_flight_new[0:5])

   dep_time  dep_delay  arr_time  arr_delay tailnum
0       940         15      1216         -4  N626VA
1      1657         -3      2104         10  N3760C
2       859         -1      1238         11  N712TW
3      1841         -4      2122        -34  N914DL
4      1102         -3      1230         -8  N823AY

#Q10 Filter newyork_flight_new
Selecting rows where departure time is greater than 2000 and name it dep_time_2000.

How many rows were deleted?

In [13]:
#Selecting rows where departure time is greater than 2000
dep_time_2000 = newyork_flight_new[newyork_flight_new['dep_time'] > 2000]
#print(dep_time_2000)
print(len(newyork_flight_new)-len(dep_time_2000), "Rows Deleted")

29166 Rows Deleted

#Q11 Do we have any missing values in dep_delay?
If yes replace the missing values with the median of dep_delay.

Hint: replace the missing values in dep_time_2000.

In [14]:
dep_time_2000["dep_delay"] = dep_time_2000["dep_delay"].fillna(dep_time_2000["dep_delay"].median())

C:\Users\drago\AppData\Local\Temp\ipykernel_18652\3947092036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dep_time_2000["dep_delay"] = dep_time_2000["dep_delay"].fillna(dep_time_2000["dep_delay"].median())

#Q12 create a new dataframe
By adding dep_delay and arr_delay and name it "total_delay".

Add new column "total_delay" to the dep_time_2000

In [15]:
dep_time_2000['total_delay'] = dep_time_2000['dep_delay'] + dep_time_2000['arr_delay']
print(dep_time_2000)

       dep_time  dep_delay  arr_time  arr_delay tailnum  total_delay
13         2054        115      2256         91  N919AT          206
15         2024         37      2141         29  N17115           66
23         2310        105       201        127  N506JB          232
27         2253        123         5        101  N14562          224
38         2231        121      2332         96  N8488D          217
...         ...        ...       ...        ...     ...          ...
32672      2217         47       140         73  N516JB          120
32694      2100         20      2213         13  N817MQ           33
32703      2301         92         1         81  N76517          173
32709      2312        217       220        214  N529UA          431
32710      2221         26       118         32  N651JB           58

[3569 rows x 6 columns]

C:\Users\drago\AppData\Local\Temp\ipykernel_18652\1850836196.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dep_time_2000['total_delay'] = dep_time_2000['dep_delay'] + dep_time_2000['arr_delay']